@import url('https://fonts.google.com/specimen/Lato');
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Lato';
    font-size: 20px;
    color: white;
    background-color: #282c34;

}
.row-container{
    border: 1px solid white;
}
.bg{
    background-color: #282c34;
    color: white;
}
.row-container{
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20vh;
    padding: 25px;
}
label{
    margin-top: 6px;
}
.emailError, .passwordError{
    color: red;
}
.navbar li a{
    color: white !important;
    font-size: 18px;
}